form label{clear:left;float:left;width:90px;line-height:29px}
form div{padding:4px 0}
input[type=text],input[type=number],select,textarea{width:200px}

#categoryPanel,#categoryEditPanel{float:left;width:350px;border-right:1px solid #CCC}
#productPanel,#productEditPanel{float:left;padding-left:10px}
#prod_edit_img{width:200px;height:200px;}

#categoryList span{cursor:pointer;text-decoration:underline;color:#00F}
#categoryList span:hover{text-decoration:none}
#categoryList span.edit, #categoryList span.delete{float:right;padding-right:10px}

#productList span.edit, #productList span.delete{cursor:pointer;text-decoration:underline;color:#00F}
#productList span.edit:hover{text-decoration:none}
#productList span.delete:hover{text-decoration:none}
#productList span.edit, #productList span.delete{float:right;padding-right:10px}

.hide{display:none}
.clear{clear: both}
#OrderInfoPanel{float: left; width:400px;margin: 0px;padding: 0px;}
.first{clear:both; cursor: pointer; text-decoration: underline; color: #00F;}
#order_info{list-style-type:none;float: left;width: 388px;border: 1px solid #000; margin: 0px;padding: 0px;text-align: center;}
li>.small{float: left;width: 70px;border: 1px solid #000;}
li>.medium{float:left;width: 170px;border: 1px solid #000;}
#OrderInfoDetail{float:left; width: 380px; margin-left:50px ; padding: 0px;}
#order_detail{float:left;width: 380px;margin: 0px;padding: 0px;list-style-type: none;}
#order_detail img{height: 30px;width: 30px;margin-left: 10px;margin-top: 7px;}
.item_name{margin: 0px 10px;}
.item_price{margin-left:5px;}
.qty{width: 10px;}
